<header>
  <nav>
    <ul class="menu">
        <li class="logo"><a href="#">Mobiliny terapeuta</a></li>
        <li routerLinkActive="active" class="item"><a routerLink="/sklep">Sklep</a></li>
        <li routerLinkActive="active" class="item"><a routerLink="/diagnoza">Diagnoza</a></li>
        <li routerLinkActive="active" class="item"><a routerLink="/terapia">Terapia</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="item"><a routerLink="/o-mnie">O mnie</a></li>
        <li routerLinkActive="active" class="item"><a routerLink="/kontakt">Kontakt</a>
        <li routerLinkActive="active" class="item"><a routerLink="/mobilni-przyjaciele">Mobilni przyjaciele</a>
        </li>
        <li class="item button"><a href="#">Log In</a></li>
        <li class="item button secondary"><a href="#">Sign Up</a></li>
        <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
</nav>
</header>
