<div class="divider__lime"></div>
<div class="block__white">
  <h2>O mnie</h2>
  <div class="block__white__about">
<img src="https://i.pravatar.cc/200?img=26">
  <p>Witam. Nazywam się Agnieszka Gołaś i od 10 lat jestem logopedką działającą na ternie Souhampton w Angli. Skończyłam uniwersytet Gdański na specjalizacji logopedia. Jak byłam małą dziewczynką to sama miałam problem z wymawianiem słów i musiałam chodzić na terapie i wiedziałam, że jak dorosnę to chcę być terapeutką. Chcesz się dowiedzieć więcej o mnie ? Kliknij w przycisk. <a routerLink="/contact-us" class="btn ">Czytaj więcej</a></p>
</div>
</div>
<div class="divider__green"></div>
<div class="block__green">
  <h1>Skewed Counter-Clockwise.</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
</div>
<div class="divider__lime"></div>
<div class="block__white">
  <h1>Skewed Clockwise.</h1>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
</div>
